<div class="admin-page">

  <header class="admin-header">
    <div class="header-content">
      <h1>Mis Portafolios</h1>
      <div class="header-actions">
        <button class="btn btn-primary" (click)="creando = true">➕ Crear proyecto</button>
        <button class="btn btn-secondary" routerLink="/programmer1">🏠 Inicio</button>
      </div>
    </div>
  </header>

  <div class="card-detail">

    <!-- ================= NUEVO PROYECTO ================= -->
    <div *ngIf="creando">

      <h2>Crear nuevo proyecto</h2>

      <div class="form-grid">

        <div class="form-group">
          <label>Tipo de proyecto</label>
          <select [(ngModel)]="nuevoProyecto.tipo">
            <option value="academico">Académico</option>
            <option value="laboral">Laboral</option>
          </select>
        </div>

        <div class="form-group">
          <label>Nombre del proyecto</label>
          <input type="text" [(ngModel)]="nuevoProyecto.nombre">
        </div>

        <div class="form-group full-row">
          <label>Descripción</label>
          <textarea rows="3" [(ngModel)]="nuevoProyecto.descripcion"></textarea>
        </div>

        <div class="form-group">
          <label>Rol</label>
          <input type="text" [(ngModel)]="nuevoProyecto.tipoParticipacion" placeholder="Frontend, Backend, BD">
        </div>

        <div class="form-group">
          <label>Tecnologías</label>
          <input type="text" [(ngModel)]="nuevoProyecto.tecnologias" placeholder="Angular, MySQL...">
        </div>

        <div class="form-group full-row">
          <label>Repositorio</label>
          <input type="text" [(ngModel)]="nuevoProyecto.urlRepositorio" placeholder="https://github.com/...">
        </div>
        <div class="form-group full-row">
            <label>Demo (Firebase / Vercel / Netlify)</label>
            <input type="text" [(ngModel)]="nuevoProyecto.enlaceDemo" placeholder="https://midemo.vercel.app">
        </div>


      </div>

      <div class="action-buttons">
        <br>
        <button class="btn btn-success" (click)="guardarProyecto()">💾 Guardar</button>
        <br>
        <button class="btn btn-secondary" (click)="creando=false">Cancelar</button>
      </div>

      <hr>
    </div>

    <div *ngIf="!creando">
    <!-- ================= ACADÉMICOS ================= -->
    <h2 class="section-title"> Proyectos Académicos</h2>
    
    <div class="separator"></div>

        <div *ngIf="proyectosAcademicos.length === 0" class="no-proyectos">
        📁 Todavía no tienes proyectos académicos
        </div>

    <div class="proyectos-container" *ngIf="proyectosAcademicos.length > 0">
      <div class="proyecto-card" *ngFor="let p of proyectosAcademicos">
      <button class="btn-delete" (click)="eliminarProyecto(p, 'academico')" >🗑️</button>
        <div class="nombre-proyecto">{{ p.nombre }}</div>
        <div class="ver-mas" (click)="p.expandido = !p.expandido"> {{ p.expandido ? 'Cerrar' : 'Mostrar más' }}</div>

        <div *ngIf="p.expandido" class="detalle-expandido">
          <p><b>Descripción:</b> {{ p.descripcion }}</p>
          <p><b>Rol:</b> {{ p.tipoParticipacion }}</p>
          <p><b>Tecnologías:</b> {{ p.tecnologias }}</p>
          <p *ngIf="p.urlRepositorio">
            <b>Repositorio:</b> 
            <a [href]="p.urlRepositorio" target="_blank">{{ p.urlRepositorio }}</a>
          </p>
          <p *ngIf="p.enlaceDemo">
            <b>Demo:</b> 
            <a [href]="p.enlaceDemo" target="_blank">{{ p.enlaceDemo }}</a>
         </p>


        </div>

      </div>
    </div>


    <!-- ================= LABORALES ================= -->
    <h2 class="section-title">Proyectos Laborales</h2>
    <div class="separator"></div>
    <div *ngIf="proyectosLaborales.length === 0" class="no-proyectos">
      👜 Todavía no tienes proyectos laborales
    </div>

    <div class="proyectos-container" *ngIf="proyectosLaborales.length > 0">
      <div class="proyecto-cardL" *ngFor="let p of proyectosLaborales">
        <button class="btn-delete" (click)="eliminarProyecto(p, 'laboral')" >🗑️</button>
        <div class="nombre-proyecto">{{ p.nombre }}</div>
        <div class="ver-mas" (click)="p.expandido = !p.expandido"> {{ p.expandido ? 'Cerrar' : 'Mostrar más' }}</div>

        <div class="detalle-expandido" *ngIf="p.expandido">

          <p><b>Descripción:</b> {{ p.descripcion }}</p>
          <p><b>Rol:</b> {{ p.tipoParticipacion }}</p>
          <p><b>Tecnologías:</b> {{ p.tecnologias }}</p>
          <p *ngIf="p.urlRepositorio">
            <b>Repositorio:</b> <a [href]="p.urlRepositorio" target="_blank">{{ p.urlRepositorio }}</a>
          </p>
          <p *ngIf="p.enlaceDemo">
            <b>Demo:</b> 
            <a [href]="p.enlaceDemo" target="_blank">{{ p.enlaceDemo }}</a>
         </p>
        </div>

      </div>
    </div>

  </div>
</div>
</div>
<router-outlet></router-outlet>