<div class="login">

  <div class="login-card">

    <div class="login-avatar">
      <img src="https://cdn-icons-png.flaticon.com/512/1177/1177568.png" alt="user">
    </div>

    <h1 class="titulo-login">Bienvenido a tu Espacio Profesional</h1>
    
    <p class="frase"><i>
      Donde tus conocimientos se convierten en logros,  
      y tus proyectos hablan por ti.</i></p>

    <p class="sub-frase">
      Inicia sesión para acceder a tu portafolio y conectar con expertos.
    </p>

    <button class="login-btn" (click)="login()" [disabled]="isLoading">
      <img class="google-icon" src="https://static.vecteezy.com/system/resources/previews/012/871/371/non_2x/google-search-icon-google-product-illustration-free-png.png" *ngIf="!isLoading">
      <span *ngIf="isLoading">Verificando...</span>
      <span *ngIf="!isLoading">Iniciar sesión con Google</span>
    </button>


  </div>

</div>
