.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://img.freepik.com/premium-zdjecie/tlo-technologii-sieci_34629-304.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.65);
  backdrop-filter: blur(2px);
}

.login-card {
  background: rgb(52, 75, 107, 0.60);
  width: 850px;
  height: 750px;
  text-align: center;
  padding: 10px 60px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
  transform: translateY(0);
  transition: all .3s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 16px 34px rgba(0,0,0,0.25);
  }
}

.login-avatar img {
  width: 150px;
  margin-bottom: 25px;
  filter: drop-shadow(0 3px 3px rgba(0,0,0,0.2));
}

.titulo-login {
  font-size: 65px;
  font-weight: 700;
  color: #c9ddf1;
  margin-bottom: 12px;
}

.frase {
  font-size: 24px;
  color: #98cbff;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 0 10px;
}

.sub-frase {
  font-size: 22px;
  color: #c3c3c4;
  margin-bottom: 25px;
}

.login-btn {
  background: #35669e;
  color: white;
  border: none;
  font-size: 25px;
  padding: 12px 18px;
  width: 450px;
  border-radius: 8px;
  cursor: pointer;
  transition: all .25s ease;

  &:hover {
    background: #005fcc;
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  }

  .google-icon{
    width: 28px;
    margin-right: 12px;
  }
}
