.login{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#4388d3, #1b053d,#110a22);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card {
    width: 400px;
    padding: 40px 30px;
    background-color: rgb(35, 68, 131);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
}

.login-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.input-field{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.login-btn {
    width: 130px;
    height: 50px;
    padding: 11px;
    background: linear-gradient(135deg,#17e4da,#21a2fa);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}
.login-btn:hover {
    background: linear-gradient(135deg,#21a2fa,#17e4da);
    opacity: 0.9;
}